.left-menu{
	/*background-color: #FEFFFF;*/
	height: 100%;
	display: table-row;
}
.right-menu{
	//background-color: #DCDDE0;
	padding: 10px;
}

.panel-default{
	/*border:none;*/
}

.form-element{
	margin-top: 15px;
}

.panel-default > .panel-heading:hover{
	background-color: #0264C0;
	color: white;

}

.panel-home > .panel-heading{
	background-color: #52575F;
	color: white;
}
.panel-home > .panel-heading:hover{
	background-color: #52575F;
	color: white;
}


.settings-area{
	position: absolute;
	top: 10px;
	right: 55px;
	text-align: right;
	font-size: 13px;
}
.green{
	background-color: #00872A;
	color: white;
}


.seperator-dotted{
	width: 100%;
	border-bottom: 1px dotted #000;
	margin: 5px 0px 5px 0px;
}

.new-button{
	margin-top: 20px;
	color: black;
}
.text-center{
	text-align : center;

}
.new-button a{
	cursor: pointer;
	color: black;
}
.fa-5x{
color: #00872A;


}

.intro{
    color:#870415;
    padding-top: 3px;
    font-size: 15px;
}

