h3{
    text-align:center;
}

.row-cell{

    border:1px solid #ECECEC ;
    border-radius: 4px;
    height: 672px;
    width: 95%;
}

strong > a{
    padding-left: 0px;
}

.product{

    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px; 
    border:1px solid #ECECEC ;
    border-radius: 4px;   

}
.product>p{

    font-size: 15px;
    padding-left: 1px;

}

#pencil{
    float:left;
    color:#106E96;
    padding-top: 4px;
}
.delete{
    float: left;
    color:#106E96;
    padding-top: 4px;
}

.glyphicon:hover{
    color:#5B050B;
}
.delete:hover{
    color:#5B050B;
}

.fa{
    color: #106E96;
}
.fa-5x:hover{
    color:#5B050B;
}

.seperator-dotted{
    width: 100%;
    border-bottom: 1px solid #ECECEC;
    margin: 0px 0px 3px 0px;
    padding-left: 20px;
    padding-right: 10px;
}

p{
    font-size: 15px;
}

.col-md-12{
    width:100%;
    position: relative;
}

.panel-default {
    border-color: #ddd;
}
.table > thead > tr > th {
   
    vertical-align: bottom;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.highlight2{
    border:1px solid red ;
}

.highlight{
    border:1px solid red ;
}