@font-face {
    font-family: commonFont;
    src: url(../font/CaviarDreams.ttf);
}
@font-face {
    font-family: commonFontBold;
    src: url(../font/Caviar Dreams Bold.ttf);
}

body{
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: commonFontBold;
	font-size: 18px;
}
.top{
	background-color: #F1F1F1;
}
.top-menu{
	float: right;
}
.top-date{
	color:#595959;
}
.top-menu .item{
	float: left;
	padding: 0px 10px 0px 10px;
	color: #DE3E3E;
	border-right: 1px solid #C8C8C8;
}
.top-menu .item:first-child{
	border-left: 1px solid #C8C8C8;
}
.top-pad{
	padding-top: 5px !important;
}
.bottom-pad{
	padding-bottom: 5px !important;
}
.top-search{
	margin-top: 40px;
}
.top-search input{
	border-radius: 0px;
}
.top-search .input-group-addon{
	border-radius: 0px;
	background-color: #9D9D9F;
	border-color: #9D9D9F;
	color: #FFFFFF;
}
.container-custom{
	padding-left: 60px;
	padding-right: 60px;
}
.shopping-cart{
	color: #6E6966;
	font-size: 18px;	
	padding-top: 5px;
}

.shopping-count{	
	color: white;
	margin-left: 10px;
}

.arrow_box { 
	position: relative; 
	background: #DE4A4A; 
	padding: 3px 8px 3px 8px;
} 
.arrow_box:after { 
	right: 100%; 
	top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(222, 74, 74, 0); 
	border-right-color: #DE4A4A; 
	border-width: 5px; 
	margin-top: -5px; 
}



.shopping-text{
	text-decoration: underline;
	margin-left: 10px;
}

.main-menu{
	margin-top: 5px;
}
.main-menu .five{
	cursor: pointer;
	float: left;
	margin-left: .2%;
	background-color: #DCDCDC;
	border-radius: 2px;
	width: 20%;
	padding:10px 0 10px 0;
	text-align: center;
	color: #686360;
	text-transform: uppercase;
	font-size: 16px;
}
.main-menu .five:hover{
	background-color: #CD2027;
	color: white;
}

.main-menu .one, .main-menu .two, .main-menu .three, .main-menu .four {
	cursor: pointer;
	float: left;
	margin-left: .2%;
	background-color: #DCDCDC;
	border-radius: 2px;
	width: 20%;
	padding:10px 0 10px 0;
	text-align: center;
	color: #686360;
	text-transform: uppercase;
	font-size: 16px;
}
.main-menu .one:hover, .main-menu .two:hover, .main-menu .three:hover, .main-menu .four:hover{
	background-color: #CD2027;
	color: white;
}

.main-menu .one:first-child{
	color: black;
	position: relative;
	margin-left: 0;
	background-color: #FFFFFF;
	border-radius: 0px;
	width: 19%;
	padding:10px 2% 10px 2%;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	margin-top: -1px;
}



.best-celler:after { 
	left: 0px; 
	top: 50%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
	border-color: rgba(222, 74, 74, 0); 	
	border-left-color: #DE4A4A; 
	border-top-color:#DE4A4A;	
	/*border-bottom-color:#DE4A4A;	*/
	/*border-right-color:#DE4A4A;	*/
	border-width: 22px; 
	margin-top: -22px; 
}
.item .star{
	position: absolute;
	left: 6px;
	top:3px;
	color: white;
	z-index: 10;
}

.seperator{
	border-bottom: 1px solid #ECECEC;
}

.carousel-inner .item img{
	width: 100%;
}
.red-joint{
	border-bottom: 1px solid #CC0001;
	width: 100%;
	margin-top: -30px;
}
.marg-top{
	margin-top: -1px;
}
.mid-menu{
	margin: auto;
	width: auto;
	margin-top: 40px;
	margin-bottom: 10px;
	display: table;
	height: auto;
}
.mid-menu .item{
	float: left;
	padding: 8px 30px 8px 30px;
	margin-left: 20px;
	border:2px solid #BCC3C9;
	background-color: white;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 16px;
	color: #717171;
}
.mid-menu .item:hover{	
	border:2px solid #CC0001;

}



.item-area{
	margin-top: 60px;
	margin-bottom: 20px;
}
.item-area .item{
	border:1px solid #DADADA;
	height: auto;
	padding: 10px;
}
.item-area .item img{
	height: 300px;
	margin: auto;
	display: table;
}
.item-area .item:first-child{
	/*padding-left: 0px;*/
}
.item-area .item .price{
	border:1px solid #DADADA;
	height: 20px;
	margin: auto;
	margin-top:10px; 
	width: auto;
	display: table;
	padding: 5px 10px 5px 10px;
	color: #717171;
}
.advertise{
	margin-top: 10px;
	margin-bottom: 10px;
}
.advertise img{
	height: 120px;
	width: 100%;
}
.bottom-item-area .product .item{
	padding: 5px 5px 0px 5px;
	border:1px solid #DADADA;
	margin-top: 20px;
}
.bottom-item-area .product .item img{
	margin: auto;
	display: table;
	width: 100%;
	height: 150px;
}
.bottom-item-area .item .product-name{
	padding: 10px;
	border-top: 1px solid #DADADA;
	color: #595959;
	text-align: center;
	margin-left: -5px;
	margin-right: -5px;
}
.bottom-item-area .item .product-price{
	padding: 10px;
	background-color: #BCBCBC;
	color: white;
	text-align: center;
	margin-left: -5px;
	margin-right: -5px;
}
.portal{
	border:1px solid #DADADA;
	width: 100%;
	height:496px;
	margin-top: 20px;
}

.subscribe{
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.subscribe input{
	border-radius: 0px;
}
.bg-red{
	background-color: #CC0001;
	color: white;
	font-size: 16px;
}
.subs-text{
	color: #2A2A2A;
	font-size: 26px;
	text-transform: uppercase;
}

.payment{
	background-color: #9D9D9F;
	padding-top: 10px;
	padding-bottom: 10px;
}
.payment img{
	float: left;
	margin-right: 5px;
}
.footer{
	background-color: #444645;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	text-align: justify;
	height: auto;
	overflow: auto;
}

.footer-seperator{
	border-top: 1px solid #595959;
	height: 4px;
	border-bottom: 1px solid #373737;
	margin-top: 20px;
	margin-bottom: 20px;
}
.footer .copyright{
	color: #BABABA;
	font-size: 12px;
}
.footer .item{
	/*line-height: 2;*/
	font-size: 16px;
}
.footer .item div{
	/*line-height: 2;*/
	margin-bottom: 10px;
}
.footer .item h3{
	width: auto;
	display: table;
}
.footer .item h3 img{
	float: right;
}
.bottom-footer .item{
	background-color: #626665;
	color: white;
	padding: 0px 10px 0px 10px;
	float: left;
	border-radius: 2px;
	margin-right: 4px;
	cursor: pointer;
}

.bottom-footer .item:hover{
	color:#CC0001;
}
.main-body{
	margin-top: 20px;
	margin-bottom: 20px;
	color: #8F8F8F;
}
a{
	color: #CD0001;
	text-decoration: underline;
}
a:hover{
	color: red;
}
.marge-top{
	margin-top: 10px;
}
.marge-bottom{
	margin-bottom: 10px;
}