.modal-dialog {
    height: 255px;
    margin: 0 auto;
    width: 414px;
}


.modal-margin-top {
    margin-top: 35%;
}



.modal-content {
   
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0px 18px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    height: 260px;
    outline: 0 none;
    position: relative;
    background-color: #fff;
    width:101%;
}


.modal-header {
    border-bottom: medium none;
    min-height: 16.4286px;
    padding: 10px;
    height: 55px;
    background: url("../../public/main/images/icon.png") no-repeat scroll 0 0 / 40% auto rgba(0, 0, 0, 0);
    background-color: #e5e0e0;
    border-top-right-radius: 12px;
}


.modal-body {
    padding: 60px;
    position: relative;
    font-size: 15px;
}

.modal-header .close {
    margin-right: -9px;
    margin-top: -11px;
}

.close{
    opacity:1;
}

